
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

h1 {
  margin: 20px 0px 40px 0px;
  text-align: center;
  font-size: 250%;
  color: black;
}

.row {
  width: 100%;
  display: table;
  height: 100%;
}

.regi-1, .regi-2, .regi-3 {
  border: 1px solid black;
  background-color: rgb(230, 230, 230);
  height: 100%
 }

.detail{
  padding: 5%;
  clear: right;
  color: rgb(0, 0, 102);
}

.title-1, .title-2, .title-3{
  padding: 5px;
  border: 1px solid black;
  width: 30%;
  font-weight: bold;
  text-align: center;
  position: relative;
  float: right;
  font-size: 125%;
}

.title-1{
  background-color: rgb(250, 158, 158);
  color: black;
}

.title-2{
  background-color: rgb(204, 51, 0);
  color: white;
}

.title-3{
  background-color: rgb(230, 189, 25);
  color: black;
}


/********** Large devices only **********/
@media (min-width: 992px) {

  .col-lg-4 {
    float: left;
    width: 33.33%;
   height: 100%;
  }



  .regi-1 {
    margin-left: 8%;
    margin-right: 4%;
       
  }

  .regi-2 {
    margin-left: 4%;
    margin-right: 3%;
  }

  .regi-3 {
    margin-left: 3%;
    margin-right: 8%;
     
  }



}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  .regi-1 {
    margin-left: 10%;
    margin-right: 5%;
  }

  .regi-2 {
    margin-left: 5%;
    margin-right: 10%;
  }

  .regi-3 {
    margin: 5% 5% 0% 5%;
  }

}


/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }

  .regi-1, .regi-2, .regi-3 {
    margin-left: 10%;
    margin-right: 8%;
  }

  .regi-1{
    margin-bottom: 4%;
  }
  .regi-2{
    margin-bottom: 6%;
  }
  .regi-3{
    margin-bottom: 8%;
  }

}

